@font-face {
    font-family: "blueprint-icons-20";
    src: url("./blueprint-icons-20.ttf?cca6daadc2b6931faeb64c189d4c67fd") format("truetype"),
url("./blueprint-icons-20.eot?cca6daadc2b6931faeb64c189d4c67fd#iefix") format("embedded-opentype"),
url("./blueprint-icons-20.woff2?cca6daadc2b6931faeb64c189d4c67fd") format("woff2"),
url("./blueprint-icons-20.woff?cca6daadc2b6931faeb64c189d4c67fd") format("woff");
}
