@font-face {
    font-family: "blueprint-icons-16";
    src: url("./blueprint-icons-16.ttf?0c7462c47bcd60a8d9e9dc959711c752") format("truetype"),
url("./blueprint-icons-16.eot?0c7462c47bcd60a8d9e9dc959711c752#iefix") format("embedded-opentype"),
url("./blueprint-icons-16.woff2?0c7462c47bcd60a8d9e9dc959711c752") format("woff2"),
url("./blueprint-icons-16.woff?0c7462c47bcd60a8d9e9dc959711c752") format("woff");
}
